@model UserSignUpVM

<form class="form-horizontal" asp-controller="Home" asp-action="SignUp" method="POST">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="email">First name:</label>
            <div class="controls">
                <input type="text" asp-for="FirstName" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">Last name</label>
            <div class="controls">
                <input type="text" asp-for="LastName" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" asp-for="Email" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" asp-for="Password" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password_confirm">Password (Confirm)</label>
            <div class="controls">
                <input type="password" asp-for="ConfirmPassword" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Sign Up</button>
            </div>
        </div>

        <div asp-validation-summary="All">
        </div>
    </fieldset>
</form>
